<!-- IMPORTAR NO index.html GLOBAL:
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
-->

<div class="dashboard-container">
        
<aside class="sidebar">
    <div class="logo-area">
    <img src="img/logo-senseflow.png" alt="SenseFlow Logo" class="logo-image">
        <span class="logo-text">SenseFlow</span>
    </div>

    <nav class="main-nav">
        <button class="nav-item" (click)="redirectToContent()">
            <span class="material-symbols-outlined">home</span> Início
        </button>

        <button class="nav-item active" (click)="redirectToContent()">
            <span class="material-symbols-outlined">bar_chart</span> Relatórios
        </button>

        <button class="nav-item" (click)="redirectToSettings()">
            <span class="material-symbols-outlined">settings</span> Configurações
        </button>
    </nav>

</aside>


    <main class="content-area">

        <header class="header-toolbar">
            <div class="user-profile">
               <span *ngIf="userDetails$ | async as user">Olá, {{user.Username}}!</span>
            </div>
            <button class="logout-button" (click)="logout()">
                <span class="material-symbols-outlined">logout</span>
                Sair
            </button>
        </header>

        <section class="reports-grid">

            <!-- GRÁFICO PRINCIPAL DE FLUXO (Primeira Coluna: Área com Tabela) -->
            <div class="card monthly-flow">
                <div class="card-header">
                    <h2 class="card-title">Análise de Fluxo de Pessoas</h2>
                    <div class="header-actions">
                        <span class="date-range"> </span>
                    </div>
                </div>
                <div class="card-body monthly-flow-body">
                    <!-- Contêiner do Gráfico com Tabela -->
                    <div class="chart-container">
                        <div class="table-section">
                            <table class="visitor-table">
                                <thead>
                                    <tr>
                                        <th>Id do sensor</th>
                                        <th>Tipo do sensor</th>
                                        <th>Data</th>
                                        <th>Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ev of events">
                                        <td>{{ev.sensor_id}}</td>
                                        <td>{{ev.type}}</td>
                                        <td>{{ev.date_}}</td>
                                        <td>{{ev.time_}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARDS DE MÉTRICAS (Segunda Coluna: APENAS HORA DE PICO) -->
            <div class="metric-cards-container">
                <div class="card small-card metric-card">
                    <div class="card-header">
                        <h3 class="card-title">&nbsp;</h3>
                    </div>
                    <div class="card-body big-metric-body">
                        <span class="metric-value"></span>
                        <img class="metric-illustration" src="/img/image.png" alt="Pessoa correndo">
                    </div>
                </div>
            </div>

        </section>
    </main>
</div>
