<div class="dashboard-container">

  <aside class="sidebar">
    <div class="logo-area">
      <span class="material-symbols-outlined logo-icon">auto_stories</span>
      <span class="logo-text">LibraryFlow</span>
    </div>

    <nav class="main-nav"> 
      <button class="nav-item active" (click)="goToEvents()">
        <span class="material-symbols-outlined">home</span> Início
      </button>

      <button class="nav-item" (click)="goToEvents()">
        <span class="material-symbols-outlined">bar_chart</span> Relatórios
      </button>

      <button class="nav-item" (click)="redirectToSettings()">
        <span class="material-symbols-outlined">settings</span> Configurações
      </button>
    </nav>

    <div class="sidebar-footer">
      <a routerLink="/ajuda" class="nav-item" data-text="Ajuda">
        <span class="material-symbols-outlined">help</span> Ajuda
      </a>
    </div>
  </aside>

  <main class="content-area">

    <header class="header-toolbar">
      <div class="user-profile">
        <span *ngIf="userDetails$ | async as user">Olá, {{ user.Username }}!</span>
      </div>
      <button class="logout-button" (click)="logout()">
        <span class="material-symbols-outlined">logout</span> Sair
      </button>
    </header>

    <section class="dashboard-grid">

      <div class="card big-card full-width-card">
        <div class="card-header">
          <h2 class="card-title">Distribuição de Eventos por Horário</h2>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <apx-chart
              *ngIf="chartOptions"
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels"
              [title]="chartOptions.title"
              [legend]="chartOptions.legend"
              [dataLabels]="chartOptions.dataLabels"
            ></apx-chart>
          </div>
        </div>
      </div>

    </section>

  </main>

</div>
